<a href="https://colab.research.google.com/github/Kovidapunj/Exploratory-data-analysis-using-python/blob/main/experiment_7_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##experiment 7
##title - to study loops in python

In [ ]:
#while loop

In [ ]:
#used when the number of iterations is not known
Syntax
while condition:
    statement(s)

NameError: name 'Syntax' is not defined

In [ ]:
#print i as long as i less than 6
i = 1
while i<= 5:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:
#print numbers from 1 to N
n = int(input("enter N: "))
i = 1
while i<= n:
    print(i)
    i += 1

enter N: 2
1
2

In [ ]:
#factorial of a number
n = int(input("enter N: "))
fact = 1
while n > 0:
  fact *= n
  n -= 1
print("factorial= ", fact)

enter N: 4
factorial=  24

In [2]:
#fibonacci series using while loop
n = int(input("enter no. of terms: "))
a = 0
b = 1
i = 1
while i <= n:
    print(a,end=" ")
    c = a + b
    a = b
    b = c
    i += 1

enter no. of terms: 3
0 1 1

In [ ]:
#or (2nd method)
limit= int(input("enter limit: "))
a = 0
b = 1
while a <= limit:
  print(a,end=" ")
  a,b= b, a+ b

enter limit: 4
0 1 1 2 3

In [ ]:
#reverse a number
num = int(input("enter a number: "))
rev = 0
while num > 0:
  digit = num % 10
  rev = rev * 10 + digit
  num//=10
print("reversed number =", rev)

In [ ]:
#check palindrome number / string
string = input("enter a string: ")
rev = string[::-1]
if string==rev:
  print("palindrome")
else:
  print("not palindrome")

enter a string: tortioise
not palindrome

In [ ]:
#count digits in a number
num = int(input("enter a number: "))
count = 0
while num>0:
  count =+ 1
  num//=10
  print("count of the number is ",count)

enter a number: 567890
count of the number is  1
count of the number is  1
count of the number is  1
count of the number is  1
count of the number is  1
count of the number is  1

## the break statement
## with the break statement we can stop the loop even if the while condition is true:

In [1]:
#exit the loop when i = 3:
i = 1
while i < 6:
   print(i)
   if i == 3:
     break
   i += 1

1
2
3

In [ ]:
#search for an element in a list
nums = [20,30,40,50,60]
key = int(input("enter element to search: "))
i = 0
while i<len(nums):
    if nums[i] == key:
      print("element found at index", i + 1)
      break
    i += 1
else:
  print("element not found")

enter element to search: 50
element found at index 4

In [ ]:
#password validation
correct_password = "python123"
while True:
  pwd = input("enter password: ")
  if pwd == correct_password:
    print("password accepted")
    break
  else:
    print("wrong password,try again")

##While- continue
### continue skips the remaining statements of the current iteration and jumps back to the while condition

In [ ]:
#print numbers from 1 to 10 (skip 5)
i = 1
while i <= 10:
  if i == 5:
      i += 1
      continue
  print(i)
  i += 1

1
2
3
4
6
7
8
9
10

In [ ]:
#print only odd numbers (1 to 10)
i = 1
while i <= 10:
  if i % 2 == 0:
      i += 1
      continue
  print(i)
  i += 1

1
3
5
7
9

In [ ]:
#print only even numbers (1 to 10)
i = 1
while i <= 10:
  if i % 2 != 0:
      i += 1
      continue
  print(i)
  i += 1

2
4
6
8
10

## The Range() Function

In [ ]:
#prints numbers from 1 to 5
for x in range(1,7): #one number more than where we want the range to end
  print(x)

1
2
3
4
5
6

In [ ]:
#prints numbers from 1 to 5
for x in range(1,7): #one number more than where we want the range to end
  print(x,end=' ')

1 2 3 4 5 6

In [ ]:
#print even numbers from one to 10 using range function
for x in range(2,11,2):
   print(x)

2
4
6
8
10

In [ ]:
#sum of first N numbers
n = int(input("enter N:"))
total = 0
for i in range(1,n+1):
  total += i
print("sum of first",n,"numbers is",total)

enter N:2
sum of first 2 numbers is 3

In [ ]:
#nested for loop
for i in range(1,4):
  for j in range(1,4):
    print((i,j), end=' ')

(1, 1) (1, 2) (1, 3) (2, 1) (2, 2) (2, 3) (3, 1) (3, 2) (3, 3)

In [ ]:
#3x3 matrix display
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]
for i in range(3):
  for j in range(3):
   print(A[i][j],end=" ")
  print()

1 2 3
4 5 6
7 8 9

In [ ]:
#matrix multiplication
a = int(input("enter no. of rows: "))
b = int(input("enter no. of columns:"))
matrix = [[0,0,0],
          [0,0,0],
          [0,0,0]]

for i in range(3):
    for j in range(3):
      for k in range(3):
        Result[i][j] += A[i][k] * B[k][j]
print("Product of matrices: ")
for row in Result:
    print(row)

enter no. of rows: 2
enter no. of columns:3

NameError: name 'A' is not defined

In [ ]:
#write python program to accept three digits and
d1=1
d2=2
d3=3
d = [d1,d2,d3]
#123,132,213,231,312,321
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if (d[i]!=d[j] and d[j]!=d[k] and d[k]!= d[i]):
        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
#check armstrong number
num = 153
total = 0

for digit in str(num):     #int is not iterable,str is iterable
    total += int(digit) ** len(str(num))

if total == num:
        print("armstrong number")
else:
        print("not armstrong number")

armstrong number

In [ ]:
#print all prime numbers in range
for num in range(2,50):
  for i in range(2,num):
    if num % i == 0:
      break
  else:
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
n=5
for i in range(n): #0,1,2,3,4
  print(i*' ',(n-i)* ' *')

  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
n=5
for i in range(n+i): #0,1,2,3,4
  print(i*' ',(n-i)* ' *')

  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
n = 5
for i in range(1, n + 1):
    print(i* ' ',' *' * (n - i))
    print("* " * i)

   * * * *
*
    * * *
* *
     * *
* * *
      *
* * * *

* * * * *

In [ ]:
n = 5
for i in range(1, n + 1):
    print(" " * (n - i), end=" ")
    print("* " * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n = 5
for i in range(1, n + 1):
    print(" " * (n - i), end="")
    print("* " * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n = 5
for i in range(1, n + 1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *

In [ ]:
n = 5
for i in range(n + 1,1):
    print("* " * i)