<a href="https://colab.research.google.com/github/Kovidapunj/Basic-Programs/blob/main/experiment_4_study_of_tuples_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Experiment 4 - study of Tuple in python
##Name - Kovida Punj
##PRN - 25070123063
##Batch - A3

In [1]:
##Python tuple
#create and access tuple items
thistuple =("Mango","Orange","Blueberry")
print(thistuple[1])

Orange

In [3]:
thistuple =("Mango","Orange","Blueberry")
thistuple[1]= "blackberry"
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [4]:
#append items
thistuple =("Mango","Orange","Blueberry")
thistuple.append("blackberry")
print(thistuple)

AttributeError: 'tuple' object has no attribute 'append'

In [5]:
#add tuple to a tuple
thistuple = ("apple","banana","cherry")
y = ("orange")
thistuple += y
print(thistuple)

TypeError: can only concatenate tuple (not "str") to tuple

In [6]:
numbers = (3,7,1,9,4)
print(numbers(1::2))

SyntaxError: invalid syntax (ipython-input-599542703.py, line 2)

In [7]:
numbers = (10,20,30,40,50)
#Slicing examples
print("elements from index 1 to 3:")
print(numbers[1:3])
print("first 3 elements:")
print(numbers[0:3])
print("Elements from index 2 onwards:(reverse indexing)")
print(numbers[-3:])
print("all elements:")
print(numbers[0:6])

elements from index 1 to 3:
(20, 30)
first 3 elements:
(10, 20, 30)
Elements from index 2 onwards:(reverse indexing)
(30, 40, 50)
all elements:
(10, 20, 30, 40, 50)

In [8]:
marks = (78, 85, 90, 66, 88)
print("maximum marks: ",(marks[2]))
print("minimum marks: ",(marks[0]))
print("total marks: ",(sum(marks)))
print("average marks: ",(sum(marks)/len(marks)))
print("sort the marks in ascending order: ",(sorted(marks)))

maximum marks:  90
minimum marks:  78
total marks:  407
average marks:  81.4
sort the marks in ascending order:  [66, 78, 85, 88, 90]

In [9]:
'''2. Grocery Shopping list
A user maintains a grocery list for monthly shopping.
tasks:
create a grocery list
add new items to the list
remove purchased items
display the final shopping list
concepts used - append(), remove(), indexing'''
Grocerylist = ("fruits", "vegetables", "milk", "oats")
print("Grocery list:", Grocerylist)
Grocerylist.append("juice")
print("the purchased items ", Grocerylist)
Grocerylist.remove("vegetables")
print("the final grocery list: ",Grocerylist)

Grocery list: ('fruits', 'vegetables', 'milk', 'oats')

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
ontacts = ("Dad","Sachin","Riya","Fatima","Mom")
print("phone contacts:",(contacts))
contacts.append("Abhi")
print("new contact list: ",(contacts))
contacts.remove("Riya")
print("updated contact list: ",(sorted(contacts)))

NameError: name 'contacts' is not defined

In [16]:
result = ("EDA",98,"O")
subject, marks, grade = result
print("subject: ",subject)
print("marks: ",marks)
print("grade: ",grade)
#check for distinction
if marks >= 75:
  print("Distinction")

subject:  EDA
marks:  98
grade:  O
Distinction

In [21]:
attendance = ("P","P","A","P","A")
print("attendance: ", attendance)
print("count and display the total no. of presenrt days: ", attendance.count("P"))
print("count and display the total no. of absent days: ", attendance.count("A"))
if attendance.count("A") > 0:
 print("employee was absent at least once")
else:
  print("employee present on other days")

attendance:  ('P', 'P', 'A', 'P', 'A')
count and display the total no. of presenrt days:  3
count and display the total no. of absent days:  2
employee was absent at least once