<a href="https://colab.research.google.com/github/Kovidapunj/Basic-Programs/blob/main/experiment_3_study_of_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#experiment 3
## Name - Kovida Punj
## PRN - 25070123063
## Batch - A3
##Title: Study of list

In [ ]:
##Python lists
mylist = ["strawberry","mango","Guava"]
print(mylist)

['strawberry', 'mango', 'Guava']

In [ ]:
##list length
mylist = ["strawberry","mango","Guava"]
print (len(mylist))

3

In [ ]:
# a list with strings, integers, and boolean values:
list1 = ["abc",34, True, 40,'male',40.5,(3 + 2j)]
list1

['abc', 34, True, 40, 'male', 40.5, (3+2j)]

In [ ]:
#Access Items
mylist = ["strawberry","mango","Guava"]
print(mylist[1])

mango

In [ ]:
#Reverse/negative Indexing
mylist = ["strawberry","mango","Guava"]
print(mylist[-1])

Guava

In [ ]:
#Slicing
mylist = ["strawberry","mango","Guava","apple","cherry","banana"]
print(mylist[2:5])
print(mylist[:5])
print(mylist[3:])
#:4 first 4, 3: last 3

['Guava', 'apple', 'cherry']
['strawberry', 'mango', 'Guava', 'apple', 'cherry']
['apple', 'cherry', 'banana']

In [ ]:
mylist = ["strawberry","mango","Guava","apple","cherry","banana"]
print(mylist[:-2])
print(mylist[-3:-1])

['strawberry', 'mango', 'Guava', 'apple']
['apple', 'cherry']

In [ ]:
#change Item Value
mylist = ["apple", "banana", "cherry"]
mylist[1] = "blackcurrant"
print(mylist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
#append items
mylist = ["apple", "banana", "cherry"]
mylist.append("orange")
print(mylist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
#insert items
mylist = ["apple", "banana", "cherry"]
mylist.insert(1, "orange")
print(mylist)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
#extend list
mylist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
mylist.extend(tropical)
print(mylist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
#Searching items
8 in [3,4,5,6,7]

False

In [ ]:
5 in [3,4,5,6,7]

True

In [ ]:
#repitition
list = (' -symbi- ') * 6
list

' -symbi-  -symbi-  -symbi-  -symbi-  -symbi-  -symbi- '

In [ ]:
numbers = [10,20,30,40,50]
#Slicing examples
print("elements from index 1 to 3:")
print(numbers[1:3])
print("first 3 elements:")
print(numbers[0:3])
print("Elements from index 2 onwards:(reverse indexing)")
print(numbers[-3:])
print("all elements:")
print(numbers[0:6])

elements from index 1 to 3:
[20, 30]
first 3 elements:
[10, 20, 30]
Elements from index 2 onwards:(reverse indexing)
[30, 40, 50]
all elements:
[10, 20, 30, 40, 50]

In [ ]:
marks = [78, 85, 90, 66, 88]
print("maximum marks: ",(marks[2]))
print("minimum marks: ",(marks[0]))
print("total marks: ",(sum(marks)))
print("average marks: ",(sum(marks)/len(marks)))
print("sort the marks in ascending order: ",(sorted(marks)))

maximum marks:  90
minimum marks:  78
total marks:  407
average marks:  81.4
sort the marks in ascending order:  [66, 78, 85, 88, 90]

In [ ]:
'''2. Grocery Shopping list
A user maintains a grocery list for monthly shopping.
tasks:
create a grocery list
add new items to the list
remove purchased items
display the final shopping list
concepts used - append(), remove(), indexing'''
Grocerylist = [ "fruits", "vegetables", "milk", "oats"]
print("Grocery list:", Grocerylist)
Grocerylist.append("juice")
print("the purchased items ", Grocerylist)
Grocerylist.remove("vegetables")
print("the final grocery list: ",Grocerylist)

Grocery list: ['fruits', 'vegetables', 'milk', 'oats']
the purchased items  ['fruits', 'vegetables', 'milk', 'oats', 'juice']
the final grocery list:  ['fruits', 'milk', 'oats', 'juice']

In [ ]:
contacts = ["Dad","Sachin","Riya","Fatima","Mom"]
print("phone contacts:",(contacts))
contacts.append("Abhi")
print("new contact list: ",(contacts))
contacts.remove("Riya")
print("updated contact list: ",(sorted(contacts)))

phone contacts: ['Dad', 'Sachin', 'Riya', 'Fatima', 'Mom']
new contact list:  ['Dad', 'Sachin', 'Riya', 'Fatima', 'Mom', 'Abhi']
updated contact list:  ['Abhi', 'Dad', 'Fatima', 'Mom', 'Sachin']

In [6]:
list1 = [20,30,50,60,40,10,70]
print(list1[1:3])
print(list1[1:3:1])
print(list1[1:5:4])
print(list1[1:4:3])
print(list1[6:4:-2])
print(list1[4:6:-2])
print(list1[-2:-4:-2])

[30, 50]
[30, 50]
[30]
[30]
[70]
[]
[10]

In [12]:
#temperature analysis : daily temperature reading of a city are stored in a list for 10 days
Templist =[20,45,26,39,31,37,32,48,19,18]
print("daily temperature of first 5 days: ",Templist[0:5])
print("daily temperature of last 5 days:  ", Templist[5:10])
print("highest temperature: ",max(Templist))
print("lowest temperature: ", min(Templist))
print("average temperature: ", sum(Templist)/len(Templist))

daily temperature of first 5 days:  [20, 45, 26, 39, 31]
daily temperature of last 5 days:   [37, 32, 48, 19, 18]
highest temperature:  48
lowest temperature:  18
average temperature:  31.5

In [14]:
#Daily expense tracker
expense = [300,400,500,600,700,800,100,900]
print("store daily expenses: ", expense)
print("display total and average expenses: ", sum(expense), sum(expense)/len(expense))
print("highest spending day: ", max(expense))
print("lowest spending day: ", min(expense))

store daily expenses:  [300, 400, 500, 600, 700, 800, 100, 900]
display total and average expenses:  4300 537.5
highest spending day:  900
lowest spending day:  100