<a href="https://colab.research.google.com/github/Kovidapunj/Exploratory-data-analysis-using-python/blob/main/Experiment_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#experiment 9
## title - Study of Pandas Library
## name - Kovida Punj
## PRN - 25070123063
## Batch - E&TC A3
## date - 18/02/2026

In [ ]:
#structured data
# EDA
# data cleaning

In [3]:
import pandas as pd
s = pd.Series([10,20,30,40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [5]:
#create DataFrame
data = {
    "Name":["A","B","C"],
    "Marks":[85,90,78]
}
df = pd.DataFrame(data)
df

  Name  Marks
0    A     85
1    B     90
2    C     78

In [6]:
df.head()
df.tail()

  Name  Marks
0    A     85
1    B     90
2    C     78

In [7]:
# find the structure of the Dataframe
df.shape
(3,2)

(3, 2)

In [8]:
df.ndim

2

In [9]:
df.size

6

In [10]:
#display column names
df.columns

Index(['Name', 'Marks'], dtype='object')

In [11]:
#Check Data Types of each column
df.dtypes

Name     object
Marks     int64
dtype: object

In [12]:
#access individual column
df["Name"]

0    A
1    B
2    C
Name: Name, dtype: object

In [13]:
df["Marks"]

0    85
1    90
2    78
Name: Marks, dtype: int64

In [14]:
#Access Specefic Row
df.loc[1]

Name      B
Marks    90
Name: 1, dtype: object

In [22]:
#Add a New Column
'''If marks 80-90- First class
If marks > 90 - Distinction
If marks > 80- second class'''
df["Grade"]= ["first Class","Distinction","second class"]
df

  Name  Marks         Grade
0    A     81   first Class
1    B     90   Distinction
2    C     78  second class

In [35]:
#update data in DataFrame
#Change marks of student A to 88
df.loc[0,"Marks"] = 88
df

  Name  Marks
0    A     88
1    B     90
2    C     78

In [32]:
#Delete a Column
df.drop("Grade",axis=1, inplace=True)
df

  Name  Marks
0    A     81
1    B     90
2    C     78

In [24]:
#perform Basic statistical analysis
mean1 = df["Marks"].mean()
mean1

np.float64(83.0)

In [26]:
mode1 = df["Marks"].mode()
mode1

0    78
1    81
2    90
Name: Marks, dtype: int64

In [27]:
min1 = df["Name"].min()
min1

'A'

In [30]:
max1 = df["Marks"].max()
max1

90

In [ ]:
#Apply Condition (filtering)
#Display students scoring more than 80

In [36]:
df[df["Marks"] > 80]

  Name  Marks
0    A     88
1    B     90

In [40]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame({'C1':[11,21,np.nan],'C2':[15,np.nan,np.nan],'C3':[10,20,30]})
df1

     C1    C2  C3
0  11.0  15.0  10
1  21.0   NaN  20
2   NaN   NaN  30

In [41]:
df1.isna () #BOOLEAN function, conditional statement

      C1     C2     C3
0  False  False  False
1  False   True  False
2   True   True  False

In [42]:
df1.notna ()

      C1     C2    C3
0   True   True  True
1   True  False  True
2  False  False  True

In [44]:
df1.dropna () #NaN Rows are dropped

     C1    C2  C3
0  11.0  15.0  10